
*{
	padding: 0;
	margin: 0;
	border: 0;

}
body,ul,li 
{
	margin: 0;
	padding: 0;
}

ul,li{
	list-style: none;	/*去掉列表中的圆点*/
	float: left;	/*使多个li标签横向排*/
	
}
a { text-decoration:none;
  color: #000000;
   }
 
body{background:url(../img/bg.gif) repeat-x;}

   
/*整个网页的页面大小*/   
.all-web{
	width:1237px ; min-height: 800px;	 
	margin: 0px auto;
	border: none;
	position:relative;
	}   
/*头部部分*/
.header{
		
	width:96.8%;
	height:220px;
	margin: 0px auto;
	background: url(../img/header.png)no-repeat;
    background-size:100% 100%;
	margin-bottom: 6px;
	padding: 20px;
	position:relative;
	border-radius: 0px 0px 5px 5px;
}
.badge{
	width: 130px; height: 130px;  
	background: url(../img/badge.png) no-repeat;
	float: left;
	background-size: 100% 100%;
	margin-left: 4%;/*margin-top: 2%;*/
	position:absolute;
	}
/*导航栏*/
.nav{
	top: 194px;
	width: 1000px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	position: relative;
	z-index: 111;    
}
.nav ul li { float:left; }
.nav ul li a { 

	width:110px; 
     height:43px;
     font-size: 18px; 
     letter-spacing:-1px;      
     text-align:center; 
     line-height:50px;
     font-weight: bold; 
     display:block;         
     color:white;
     }  
.nav ul li ul li a:hover{ color:#d81513; background: #F8701E; }
.nav ul li ul { 
	position:absolute; 
	display:none;}
.nav ul li ul li { float:none;}
.nav ul li ul li a { 
	border-right:none; 
    border-top:1px dotted #ccc;
    background: #d81513; 
    text-align: center;
    }
.nav ul li:hover ul{ display:block; }
 
 
.line{
	width: 100%; height: 5px;
	background: #F8701E;
	float: left;

}

/* 注：banner部分是orbit-1.2.3  */
div{display: block;}

/*页面内容部分*/
.body{
	display: block;
	float: left;
	/*margin-left: 7%; margin-right: 7%;*/
    width: 1228px;
    background-color:lightyellow;
    padding: 5px;

}
/*banner下的信息*/
.next{
	width: 100%; min-height: 200px; 
	float: left;

	margin-top: 15px; margin-bottom: 20px;}

/*带图片的公告部分*/
.next-active{
	width: 62%;min-height: 100px;
	float: left;
	background: #fff;	
	padding-bottom: 5px;
	border-bottom: 1px #DFDDDD solid;
	border-left:1px #DFDDDD solid ;
	border-right: 1px #DFDDDD solid;
	border-radius: 10px;		
		
}
.next-active-tit{
	width: 100%; height: 45px;
	background: url(../img/active-bg.png) no-repeat;
	background-size:  100% 100%;
	color: #FFFFFF; font-size: 16px;
	margin-bottom: 12px;
}
.next-active-tit a{margin-left: 75%;}
.next-active-tit a:hover{margin-left: 75%;color:#D71212}
.next-active-con{
	width: 100%;
	min-height:285px; 
	margin-left: 3px; margin-right: 3px;
	}
.next-active-con-photo{
	width: 41%;min-height: 50px;
	float: left;
}
.next-active-con-photo-all{ width: 300px; height: 280px; padding-left: 7px; position: relative; }
.next-active-con-photo-screen{
	width:300px;
	height:280px;
	 overflow:hidden; 
	position:relative;
}
.next-active-con-photo-screen li{ width:400px; height:280px; overflow:hidden; float:left;}
.next-active-con-photo-screen ul{ position:absolute; left:0; top:0px; width:3000px;}
.next-active-con-photo-all ol{ position:absolute; right:10px; bottom:10px; line-height:20px; text-align:center;}
.next-active-con-photo-all ol li{ float: left; width: 15px; height: 15px; background: #fff;  margin-left: 5px; cursor: pointer; font-size: 10px; font-family: Verdana; line-height: 15px;}
.next-active-con-photo-all ol li.current{ background:#FFFE01;}

.next-active-con-new{
	width: 56%;height: 270px;
	float:right;
	padding-left: 5px;
	line-height: 50px;
	margin-right: 15px;
	padding-top:20px ;

}


/*滚动的公告部分*/
.notice-roll{width: 37%; min-height: 280px;float: right; border-radius: 10px;}
input,button,select,textarea{outline:none;}
ul,li,dl,ol{list-style:none;}


.notice-roll-new-content{
	width: 100%;
	border-radius: 10px;
	background: #fff; 
	line-height: 18px;
	font-size: 14px;
	text-align: center;
	color: #000000;	
}
.box{ width:100%; background: #fff; }
.bcon{ width:100%; border:1px solid #eee;	border-radius: 10px; }
.bcon h1{ border-bottom:1px solid #eee; padding:0 10px;}
.bcon h1 b{ font:bold 14px/40px '宋体'; border-top:2px solid #3492D1; padding:0 8px; margin-top:-1px; display:inline-block;}

.list_lh{ height:294px; overflow:hidden;}
.list_lh li{width: 100%; padding:13px 0px 13px 0px; border-bottom: 1px #999999 dashed;}
.list_lh li.lieven{ background:#F0F2F3;}
.list_lh li a{ float:left; padding-left: 10px;}
.list_lh li a:hover{color: #d71212;}
.btn_lh:hover{ color:#fff; text-decoration:none;}





/*图片链接部分*/
.link{
	width: 100%; height: 70px;
	background: url(../img/link.png) no-repeat;
	background-size: 100% 100%;
	float: left;
	cursor: pointer;
	margin-bottom: 17px;
	border-radius: 10px;
}
.link a:hover{text-decoration: underline;}

/*公告部分*/
.all-new{
	width: 100%;
	float: left;
	margin-bottom: 20px;

}
.new{
	width:35%;min-height: 250px;
	float: left;
	border:1px solid #eee;
	margin-right:1%;
	border-radius: 10px;
	background: #fff;	
}
.new-title{
	width: 100%;height: 45px;
	background: url(../img/new-bg.png) no-repeat;
	background-size: 100% 100%;
	margin-bottom: 12px;	
	color: #FFFFFF;

}
.new-notice{
	width: 100%;  
	padding-top: 17px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 60px;
	}
.new-title a{margin-left: 48%; color: #000000;}
.new-title a:hover{margin-left: 48%; color: #000000;color:#D71212}
.new-content{
	width: 100%;
	line-height: 34px;
	font-size: 14px;
	color: #000000;
}
.new-content a{color: #000000;margin-left:1%}
.new-content ul li span{margin-right:1%}
.new-content ul{width: 100%;}
.new-content ul li{width: 100%; float: none;border-bottom: dashed 1px #000000;}
.new-content ul li a:hover{color:#D71212}

/*专项计划部分*/
.plan{
	width: 27.5%;
	float: right;
}
.plan a{color:#D81513; font-weight: bolder;}
.plan ul{ width: 94%;}
.plan ul li{
	width: 100%; height: 51px;
	background: #ffcc00;
	box-shadow: 0px 6px 8px #d71212 inset;
	margin-bottom: 15px;
	border-radius: 5px;
	padding-left: 10px; padding-right:10px;
	float: none;
	line-height: 45px;
	font-size: 20px;
}


/*内容底部部分*/
.body-bottom{
	width: 100%; min-height: 100px;
	float: left;	
	margin-bottom:2%;
}

/*tab部分*/
.body-bottom-tab{
	width: 64%; 
	float: left;

	margin-top: 2%; 
  
	}
#tabs
{
  overflow: auto;
  width: 100%; 
  height: 45px; 
  list-style: none;
  margin: 0;
  padding: 0;
  background:#DFDDDD;

}

#tabs li
{
    margin: 0;
    padding: 0;
    float: left;
	
}
#tabs a
{
    -moz-box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    background: #D81513;
    background:    -moz-linear-gradient(220deg, transparent 10px, #D81513 10px);
    background:    -webkit-linear-gradient(220deg, transparent 10px, #D81513 10px);     
    background:     -ms-linear-gradient(220deg, transparent 10px, #D81513 10px); 
    background:      -o-linear-gradient(220deg, transparent 10px, #D81513 10px); 
    background:         linear-gradient(220deg, transparent 10px, #D81513 10px);
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    color: #fff;
    float: left;
    font: bold 16px/35px 'Lucida sans', Arial, Helvetica;
    height: 25px;
    overflow: hidden;
    padding: 10px 30px;
    text-decoration: none;
}
#tabs a:hover
{
    background: #c93434;
    background:    -moz-linear-gradient(220deg, transparent 10px, #c93434 10px);
    background:    -webkit-linear-gradient(220deg, transparent 10px, #c93434 10px);     
    background:     -ms-linear-gradient(220deg, transparent 10px, #c93434 10px); 
    background:      -o-linear-gradient(220deg, transparent 10px, #c93434 10px); 
    background:         linear-gradient(220deg, transparent 10px, #c93434 10px);     
}
#tabs a:focus{outline: 0;}
#tabs #current a
{
    background: #ffcc00;
    background:    -moz-linear-gradient(220deg, transparent 10px, #fff 10px);
    background:    -webkit-linear-gradient(220deg, transparent 10px, #fff 10px);     
    background:     -ms-linear-gradient(220deg, transparent 10px, #fff 10px); 
    background:      -o-linear-gradient(220deg, transparent 10px, #fff 10px); 
    background:         linear-gradient(220deg, transparent 10px, #ffa837 10px);
    text-shadow: none;    
    color: #333;
}
#content
{
	font-size: 16px;
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    background-image: -webkit-linear-gradient(top, #fff, #ddd); 
    background-image:    -moz-linear-gradient(top, #fff, #fff); 
    background-image:     -ms-linear-gradient(top, #fff, #ddd); 
    background-image:      -o-linear-gradient(top, #fff, #ddd); 
    background-image:         linear-gradient(top, #fff, #ddd);
    border: 1px solid #eee;
    padding: 30px;
    border-radius:10px;
}
/* Remove the rule below if you want the content to be "organic" */
#content div{min-height: 220px;}
#about{color: #999;}
#about a{color: #eee;}
.tab-content ul{width: 100%;}
.tab-content ul li{	
	line-height: 43px;
	float: none; 
	width: 100%; 
	border-bottom: 1px #999999 dashed;
	overflow: hidden;
	}
.tab-content ul li a{color: #000000;}
.tab-content ul li a:hover{color: #d71212;}



/* 下载专区 */
.download{
	width:33% ; min-height: 10px; 
	float: right;	 
	margin-top:2%;
	background: #fff;
	border: 2px solid #eee;
	padding-left: 10px;
    border-radius:0px 0px 10px 10px;
	}
.download-til{
	width: 100%;min-height: 10px;
	font-size: 18px; color: #D81513;
	margin-top: 5px;
	padding-bottom: 5px;
	border-bottom: 3px solid #D81513;
}
.download-til a{margin-left:57% ;}
.download-til a:hover{margin-left:57% ;color:#d71212}
.dowload-content ul li{
	width: 100%;
	line-height:47px;
	border-top: 1px dashed #DFDDDD;
}
.dowload-content ul li a:hover{color: #d71212;}

/*友情链接部分*/

.friendly-link{
	float: left;
	background: #fff;	
	width: 100%; min-height: 25px; 
	border: 1px #CCC solid;
	overflow: hidden;
	margin-bottom: 8px;
	}
.friendly-link-tit{
	width: 100%;min-height:20px;	 
	float: left;
	padding: 7px;
	background: #EEEEEE;
	
	}
.friendly-link ul{width: 100%; min-height: 20px;padding: 7px;}
.friendly-link ul li{width: 100px;}	
.friendly-link a{
	color: #000000;
	font-size: 14px;	
}
.friendly-link a:hover{color: #d71212;}



/*微博部分*/
.webo{width: 100%;float: right;margin-bottom: 8px; }
.webo-link{width: 80%; margin-left:15%;}
.webo ul li{
	margin-left: 40px;
	width: 100px;
	text-align: center;
	background: #7ff7ba;
	padding: 7px;
}
.webo a{color: #fff; font-weight: bold;}



/*页脚部分*/
.footer{
	width:100%;	min-height: 100px;
	float: left;
}

.footer-bottom{
	text-align: center;
	width:100%;
	font-size:12px ;
	padding-top: 10px;
	padding-bottom: 10px; 
	min-height: 80px;
	background: #D81513;
	color: #FFFFFF; line-height: 25px;
}
.a_college{    
    float: right;
    position: initial;
    margin-top: -30px;
    margin-right: 11px;
    font-size: 18px;
}
.a_college:hover{    
    float: right;
    position: initial;
    margin-top: -30px;
    margin-right: 11px;
    font-size: 18px;
    color:#d71212;
}
.hidespan {
    position: absolute;
    width: 200px;
    height: 200px;
    top: -200px;
    left: 0;
    display: none;
}

